name: CI/CD workflow

on: workflow_dispatch

env:
  BUCKET: mlops-lab11-models-przemek
  PREFIX: model
  RESOURCE_DIR: resources
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
  

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run: |
          uv sync --extra integration

      # TODO: Add steps for 'ruff check' and 'pytest'
      - name: Run ruff checks
        run: |
          uv run ruff check .

      - name: Export onnx model
        run: |
          uv run ./export_to_onnx.py

      - name: Run tests
        run: |
          uv run pytest

  deployment:
    name: deployment
    runs-on: ubuntu-latest
    needs: integration
    steps:
      - name: Checkout code repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: us-east-1 

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install deployment dependencies
        run: |
          uv sync --extra deployment

      - name: Download artifacts and convert the model
        run: |
          uv run ./export_to_onnx.py
      
      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: 'true'

      - name: Build and Push Docker image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: sentiment-app-onnx
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REPOSITORY:$IMAGE_TAG .
          docker tag $REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG