name: CI/CD workflow

on: workflow_dispatch

env:
  BUCKET: mlops-lab11-models-przemek
  PREFIX: model
  RESOURCE_DIR: resources
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
  

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run: |
          uv sync --extra integration

      # TODO: Add steps for 'ruff check' and 'pytest'
      - name: Run ruff checks
        run: |
          uv run ruff check .

      - name: Run tests
        run: |
          uv run pytest