name: CI/CD workflow

on: workflow_dispatch

env:
  BUCKET: mlops-lab11-models-przemek
  PREFIX: models
  LOCAL_DIR: ./resources
  

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run: |
          uv sync --extra integration
          
      - name: Install pre-commit hooks
        run: uv run pre-commit install --install-hooks

      # TODO: Add steps for 'ruff check' and 'pytest'
      - name: Run ruff checks
        run: |
          uv run ruff check .

      - name: Run tests
        run: |
          uv run pytest